$background-color-normalized: #1d2536;
$text-color: #aebbba;
$content-background-color: rgba(94, 94, 94, 0.05);
$content-background-color-darker: rgba(9, 9, 9, 0.32);
$small-viewport-width: 600px;
$small-viewport-height: 500px;
$extra-small-viewport-width: 400px;

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
  'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #15293a;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: $text-color;
  z-index: 1000;
  min-width: 300px;

  nav {
    background-color: $content-background-color;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    user-select: none;
    z-index: 2000;
    transition: background-color 0.2s;

    @media (max-width: $small-viewport-width) {
      position: fixed;
      top: 0;
      background-color: transparent;

      padding-bottom: 5px;

      flex-direction: column;

      &.hidden {
        a {
          display: none;
          background-color: transparent;
        }

        .hamburger {
          filter: alpha(0.5);
        }
      }

      &:not(.hidden) {
        background-color: $content-background-color-darker;
      }
    }

    @media (min-width: $small-viewport-width) {
      .home-link {
        display: none;
      }

      .hamburger {
        display: none;
      }
    }

    .hamburger {
      width: 40px;
      height: 25px;
      background-image: url(./img/hamburger.png);
      border-radius: 5px;
      background-size: contain;
      margin: 10px;
      transition: filter 0.3s;
    }

    .float-right {
      position: relative;
      right: 0;
      top: 0;
      width: 120px;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 10px 0 auto;

      @media (max-width: $small-viewport-width) {
        position: fixed;
        margin: 10px 0 10px auto;
        height: auto;
      }

      .flag-container {
        display: flex;
        flex: 0 0 auto;
        justify-content: flex-start;

        .flag {
          flex: 0 0 40px;
          margin: 0 10px;
          transition: filter 0.2s;
          filter: none;

          &.active {
            box-shadow: 0 0 10px #9ecaed;
          }

          &:hover {
            &:not(.active) {
              box-shadow: 0 0 10px rgba(158, 202, 237, 0.5);
            }
          }
        }
      }
    }

    .nav-link {
      color: #CCC;
      padding: 1.25rem 0.7rem;
      display: inline-block;
      height: calc(50px - 2rem);
      flex: 0 0 auto;
      transition: color 0.2s;

      &:hover {
        color: #F07517;
      }

      &:active {
        color: #9c5200;
      }

      @media (max-width: $small-viewport-width) {
        padding: 0.5rem 1rem;
        margin: 0;
      }
    }
  }

  .nav-symbol {
    background-image: url(./img/symbol-white.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    margin: 4px;
    display: inline-block;
    flex: 0 0 auto;
    padding: 0;
    filter: brightness(0.85);
    transition: width 0.2s, height 0.2s, margin 0.2s;

    &:hover {
      width: 54px;
      height: 54px;

      margin: 2px;
    }

    @media (max-width: $small-viewport-width) {
      display: none;
    }
  }

  .center-outer-container {
    flex: 1 1 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    overflow-y: auto;

    .center-container {
      height: 100%;
      width: 60%;
      min-width: 300px;
      max-width: 600px;

      flex: 1 1 50%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .center-container-inner {
        flex: 0 0 auto;
        text-align: center;
        background-color: $content-background-color;
        padding: 20px 10px 30px 10px;
        border-radius: 0 0 5px 5px;

        @media (max-width: $small-viewport-width) {
          padding: 60px 10px 30px 10px;
        }

        .title-container {
          user-select: none;
          display: flex;
          flex: 1 1 auto;
          justify-content: center;
          flex-direction: column;

          .eris-title-logo {
            background-image: url(./img/eris-logo-updated.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            flex: 0 0 220px;
            height: 220px;

            @media (max-width: $small-viewport-width) {
              flex: 0 0 200px;
              height: 200px;
            }
          }

          .title-text-container {
            flex: 0 0 auto;

            .title {
              font-family: Impact, Charcoal, sans-serif;
              font-weight: 500;
              font-size: 80px;
              margin-bottom: 10px;
              line-height: 80px;
              color: #e88b00;
              text-shadow: 3px -7px #3c1f00;
              text-transform: uppercase;

              @media (max-width: $small-viewport-width) and (min-width: $extra-small-viewport-width) {
                font-size: 70px;
                line-height: 70px;
              }
              @media (max-width: $extra-small-viewport-width) {
                font-size: 60px;
                line-height: 60px;
              }
            }

            .subtitle {
              font-family: Impact, Charcoal, sans-serif;

              color: #b86e00;

              font-size: 24px;
              font-weight: 500;

              @media (max-width: $small-viewport-width) and (min-width: $extra-small-viewport-width) {
                font-size: 22px;
                line-height: 22px;
              }
              @media (max-width: $extra-small-viewport-width) {
                font-size: 20px;
                line-height: 20px;
              }
            }
          }
        }

        .join-container-outer {
          padding-top: 50px;

          @media(max-height: $small-viewport-height) {
            padding-top: 20px;
          }

          .join-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;

            .server {
              flex: 0 0 auto;
              padding: 10px;
              background-color: #FFFFFF11;
              text-align: center;
              font-size: 2rem;
              transition: background-color 0.2s;
              border-radius: 4px;
              min-width: 175px;
              max-width: 300px;
              margin: 10px;
              user-select: none;

              color: #cccccc;

              @media(max-width: $small-viewport-width) and (min-width: $extra-small-viewport-width) {
                font-size: 1.7rem;
              }

              @media(max-width: $extra-small-viewport-width) {
                font-size: 1.5rem;
              }

              &:hover {
                background-color: #FFFFFF33;

                &:active {
                  background-color: #FFFFFF22;
                }
              }
            }
          }
        }

        .about-container {
          line-height: 26px;
          padding: 50px 20px 0 20px;
          text-align: justify;
          font-size: 20px;
          text-justify: inter-word;

          @media (max-width: $small-viewport-width) {
            font-size: 16px;
            line-height: 20px;
            padding: 20px 30px 0 30px;
          }

          .byond-button {
            background-color: #F07517;
            background-image: url(./img/byond_logo.png);
            width: 150px;
            background-size: contain;
            height: 50px;
            border-radius: 10px;
            margin: 20px auto 0 auto;
            display: block;
            transition: filter 0.2s;

            &:hover {
              filter: brightness(1.3);
            }

            &:active {
              filter: brightness(0.9);
            }
          }

          .about-part {
            padding: 10px 0;

            &.center {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.background {
  background-image: url(./img/noise-background.png);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
